<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask To Dos</title>
</head>
<body>
    <h1>To Do List</h1>
    {% for todo in todos %}
        <li>{{ todo.todo_text }}</li>
        <a href="/todos/{{ todo.id }}/update">Edit</a>
        <a href="/todos/{{ todo.id }}/delete">Delete</a>
    {% endfor %}
    <br><a href="/todos/create"><button>Add a New To Do</button></a>
</body>
</html>